<!DOCTYPE html>
<html>

<head>
  <title>CatBot Admin</title>
  <link rel="stylesheet" type="text/css" href="../mint.css">
  <link rel="stylesheet" type="text/css" href="../all.min.css">
  <link rel="icon" href="../icons/catbot.png" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="robots" content="noindex">
</head>

<body>
  <div class="page-container__center">
    <h1>Admin Database Editor</h1>
    <form action="/admin/logout" method="post">
      <button type="submit" class="btn form-input__spacer">Logout</button>
    </form>
    <h4>There's nothing even here...</h4>
  </div>
</body>
<script src="../mint.js"></script>
<script src="../functions.js"></script>

</html>