<!DOCTYPE html>
<html>

<head>
  <title>CatBot Admin</title>
  <link rel="stylesheet" type="text/css" href="../mint.css">
  <link rel="stylesheet" type="text/css" href="../all.min.css">
  <link rel="icon" href="../icons/catbot.png" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="robots" content="noindex">
</head>

<body>
  <div class="page-container__center">
    <h1>Admin Panel Login</h1>
    <p>Don't fret! If you got here by mistake, you can always go <a class="link-none__nopadding link-none__blue"
        href="/">back!</a></p>
    <form action="/admin/login" method="post">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control form-control__label" name="username">
      </div>

      <div class="form-group">
        <label>Password&nbsp;</label>
        <input type="password" class="form-control form-control__label" name="password">
      </div>

      <button type="submit" class="btn form-control__spacer">Login</button>
    </form>
  </div>
</body>

<script>

</script>

</html>