<!DOCTYPE html>
<html>

<head>
  <title>CatBot Database</title>
  <link rel="stylesheet" type="text/css" href="../css/default.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8">
  <meta property="og:type" content="website">
  <link rel="icon" href="../css/icons/catbot.png" />
  <meta name="theme-color" content="#8fde5d" />
  <meta property="og:url" content="https://mhdb.catbot.xyz/" />
  <meta property="og:title" content="CatBot" />
  <meta property="og:image" content="https://mhdb.catbot.xyz/css/icons/catbot.png" />
  <meta property="og:description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!" />
  <meta name="description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!">
  <meta name="keywords"
    content="catbot,discord bot,catbot bot,catbotxyz,discord,catbot mhw,mhw,mhworld,monster hunter,iceborne,monster hunter world,monster hunter world iceborne">
  <link rel='icon' href='favicon.ico' type='../favicon.ico' />
</head>

<body>
  <div class="navigation-bar__light">
    <h5><img src="../css/icons/catbot.png" /> CatBot</h5>
    <nav>
      <a class="link-none" href="https://catbot.xyz">Bot</a>
      <a class="link-none" href="https://mhdb.catbot.xyz">Database</a>
      <a class="link-none"
        href="https://discordapp.com/oauth2/authorize?client_id=573958899582107653&permissions=339008&scope=bot">Invite</a>
      <a class="link-none" href="https://top.gg/bot/573958899582107653/vote">Vote</a>
      <a class="link-none" href="https://discord.gg/srNyk8G">Support</a>
    </nav>
  </div>
  <div class="page-header__container">
    <div class="page-header__wrapper">
      <h1><span class="color-catbot">CatBot</span></h1>
      <h1>Monster Hunter Online Database</h1>
    </div>
  </div>
  <div class="page-container">
    <div class="page-container__content-container">
      <h1>CatBot Database</h1>
      <p class="page-container__content-paragraph">
        CatBot is not only a bot for Discord, it's also an online database! If you feel something could be added to the
        database please join the <a class="link-underline" href="https://discord.gg/srNyk8G">Discord!</a> The online
        database aims to be a useful wiki-like source for Monster Hunter information!
      </p>
    </div>
  </div>
  <div class="page-container__center">
    <div>
      <ul class="list-grouped list-grouped__standard--size">
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/monsters">Monster Database</a></h6>
            <div class="color-dark__muted">Monster Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/monsters">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/weapons">Weapon Database</a></h6>
            <div class="color-dark__muted">Weapon Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/weapons">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/armors">Armor Database</a></h6>
            <div class="color-dark__muted">Armor Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/armors">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/skills">Skill Database</a></h6>
            <div class="color-dark__muted">Skill Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/skills">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/items">Item Database</a></h6>
            <div class="color-dark__muted">Item Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/items">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/decorations">Decoration Database</a></h6>
            <div class="color-dark__muted">Decoration Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/decorations">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/questids">Quest IDs</a></h6>
            <div class="color-dark__muted">Quest ID Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/questids">Visit</a></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-footer">
    <p class="page-container__content-paragraph color-dark__muted">Disclaimer: The online database is in early access,
      please expect
      bugs and other odd issues!</p>
    <p>Copyright © <a class="link-underline" href="https://ricochhet.github.io/">Ricochet</a>, All Rights Reserved.
      ❤️</p>
  </div>
</body>

<script>

</script>

</html>