<!DOCTYPE html>
<html>

<head>
  <title>CatBot Database</title>
  <link rel="stylesheet" type="text/css" href="../css/default.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="../css/icons/catbot.png" />
  <meta name="theme-color" content="#8fde5d" />
  <meta property="og:url" content="http://mhdb.catbot.xyz/" />
  <meta property="og:title" content="CatBot Database" />
  <meta property="og:image" content="http://mhdb.catbot.xyz/css/icons/catbot.png" />
  <meta property="og:description"
    content="Monster Hunter World: Iceborne Discord Bot dedicated to helping hunters providing information on monsters, weapons, armors, and more!" />
  <meta name="description"
    content="Monster Hunter World: Iceborne Discord Bot dedicated to helping hunters providing information on monsters, weapons, armors, and more!">
  <meta name="keywords"
    content="MHW,MHWI,MHWorld,Discord,Bot,Iceborne,Discord Bot, Monster Hunter, Monster Hunter World, Monster Hunter World Iceborne,CatBot,CatBot Discord, CatBot Discord Bot">
</head>

<body>
  <div class="navigation-bar__light">
    <h5><img src="../css/icons/catbot.png" /> CatBot</h5>
    <nav>
      <a class="link-none" href="http://catbot.xyz">Bot</a>
      <a class="link-none" href="http://mhdb.catbot.xyz">Database</a>
      <a class="link-none"
        href="https://discordapp.com/oauth2/authorize?client_id=573958899582107653&permissions=339008&scope=bot">Invite</a>
      <a class="link-none" href="https://top.gg/bot/573958899582107653/vote">Vote</a>
      <a class="link-none" href="https://discord.gg/srNyk8G">Support</a>
    </nav>
  </div>
  <div class="page-header__container">
    <div class="page-header__wrapper">
      <h1>Monster Hunter Online Database</h1>
      <h2><span class="color-catbot">CatBot</span></h2>
    </div>
  </div>
  <div class="page-container">
    <div class="page-container__center">
      <p class="page-container__content-paragraph">
        The online database aims to be an online alternative to Discord Bot; CatBot
      </p>
      <p class="page-container__content-paragraph">The databases offer data tons of different data from Monster Hunter
        World: Iceborne! Please join the <a class="link-underline" href="https://discord.gg/srNyk8G">Discord</a> to get updates on the database!</p>
      <p class="page-container__content-paragraph color-dark__muted">Disclaimer: The online database is in early access,
        please expect
        bugs and other odd issues!</p>
      <h3>Databases</h3>
      <a class="link-none link-none__block" href="/monsters">Monster Database (Click)</a>
      <a class="link-none link-none__block" href="/weapons">Weapon Database (Click)</a>
      <a class="link-none link-none__block" href="/armors">Armor Database (Click)</a>
      <a class="link-none link-none__block" href="/skills">Skill Database (Click)</a>
      <a class="link-none link-none__block" href="/items">Item Database (Click)</a>
      <a class="link-none link-none__block" href="/decorations">Decoration Database (Click)</a>
    </div>
  </div>
  <div class="page-footer">
    <p>Copyright © <a class="link-underline" href="https://ricochhet.github.io/">Ricochet</a>, All Rights Reserved.
      ❤️</p>
  </div>
</body>

<script>

</script>

</html>