<!DOCTYPE html>
<html>

<head>
  <title>Error 404</title>
  <link rel="stylesheet" type="text/css" href="../mint.css">
  <link rel="stylesheet" type="text/css" href="../all.min.css">
  <link rel="icon" href="../icons/catbot.png" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="robots" content="noindex">
</head>

<body>
  <h1 class=form>404 not found</h1>
  <p class=form>If you think something should be here, join the <a class="link-none__nopadding link-none__blue"
      href="https://discord.gg/srNyk8G">Discord</a> and report it.</p>
</body>

</html>