<!DOCTYPE html>
<html>

<head>
  <title>Error 404</title>
  <link rel="stylesheet" type="text/css" href="../mint.css">
  <link rel="stylesheet" type="text/css" href="../all.min.css">
  <link rel="icon" href="../icons/catbot.png" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="robots" content="noindex">
</head>

<body>
  <h1 class=form>404</h1>
  <p class=form>404 Not Found</p>
</body>

</html>