<!DOCTYPE html>
<html>

<head>
  <title>CatBot Database</title>
  <link rel="stylesheet" type="text/css" href="../css/default.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="../css/icons/catbot.png" />
  <meta name="theme-color" content="#8fde5d" />
  <meta property="og:url" content="http://mhdb.catbot.xyz/" />
  <meta property="og:title" content="CatBot Database" />
  <meta property="og:image" content="http://mhdb.catbot.xyz/css/icons/catbot.png" />
  <meta property="og:description" content="Monster Hunter World: Iceborne CatBot Database" />
</head>

<body>
  <div class="navigation-bar__light">
    <h5><img src="../css/icons/catbot.png" /> CatBot</h5>
    <nav>
      <a class="link-none" href="http://catbot.xyz">Bot</a>
      <a class="link-none" href="http://mhdb.catbot.xyz">Database</a>
      <a class="link-none"
        href="https://discordapp.com/oauth2/authorize?client_id=573958899582107653&permissions=339008&scope=bot">Invite</a>
      <a class="link-none" href="https://top.gg/bot/573958899582107653/vote">Vote</a>
      <a class="link-none" href="https://discord.gg/srNyk8G">Support</a>
    </nav>
  </div>
  <div class="page-container__center page-container__center--flex">
    <% for (let [k, v] of MONSTER_MAP) {%>
    <a class="link-none list-item__center" href=/monsters/<%= k %>>
      <% const monster = MONSTER_MAP.get(k); %>
      <img class="link-none__img" src=<%= monster.thumbnail %>>
      <%= monster.title %>
    </a>
    <% } %>
  </div>

  <div class="page-footer">
    <p>Copyright © <a class="link-underline" href="https://ricochhet.github.io/">Ricochet</a>, All Rights Reserved.
      ❤️</p>
  </div>
</body>

<script>

</script>

</html>